<div class="container" style="max-width: 1000px;">

<div class="alert alert-info" role="alert" ng-show="viesti"> {{viesti}} </div>
<div class="alert alert-danger" role="alert" ng-show="virheviesti" style="width: 70%;"> {{virheviesti}} </div>

<form name="lisaaForm" novalidate="">
  <div class="input-group" style="width: 70%;">
    <span class="input-group-addon" id="basic-addon1" style="width: 120px;">Otsikko</span>
    <span ng-show="lisaaForm.otsikko.$touched && lisaaForm.otsikko.$invalid">Otsikko on pakollinen.</span> 
    <input type="text" name="otsikko" class="form-control" placeholder="Ilmoituksen otsikko" aria-describedby="basic-addon1" ng-model="ad.title" required style="width: 100%"/>
   
  </div>
  <br/>

  <div class="input-group" style="width: 70%;">
    <span class="input-group-addon" id="basic-addon1" style="width: 120px; vertical-align: top;">Kuvaus</span>
    <span ng-show="lisaaForm.kuvaus.$touched && lisaaForm.kuvaus.$invalid">Kuvaus on pakollinen.</span> 
    <div class="input-group" style="width: 100%">
      <textarea name="kuvaus" class="form-control" style="border-radius: 4px;" rows="5" id="ad.description" placeholder="Kuvaus" ng-model="ad.description" required></textarea>
  </div>
  </div>
  <br/>

  <div class="input-group" style="width: 70%;">
    <span class="input-group-addon" style="width: 120px;">Hinta</span>
    <span ng-show="lisaaForm.hinta.$error.pattern">Tarkista hinta.</span>
    <span ng-show="lisaaForm.hinta.$touched && lisaaForm.hinta.$invalid">Tarkista hinta.</span> 
    <input type="text" name="hinta" class="form-control" aria-label="Hinta euroina" ng-model="ad.price" placeholder="Hinta euroina, esim. 15.80"  required ng-pattern="priceRegex">
    <span class="input-group-addon">€</span>
  </div>
  <br/>

  <div class="input-group" style="width: 70%;">
    <span class="input-group-addon" id="basic-addon1" style="width: 120px;">Sähköposti</span>
    <span ng-show="lisaaForm.email.$touched && lisaaForm.email.$invalid">Tarkista sähköposti.</span> 
    <input name="email" type="email" class="form-control" aria-describedby="basic-addon1" 
    ng-model="ad.email" placeholder="Sähköpostiosoite" validate-email/>
  </div>
  <br/>
 
  <div class="input-group" style="width: 70%;">
    <span class="input-group-addon" id="basic-addon1" style="width: 120px;">Puhelin</span>
    <span ng-show="lisaaForm.puhelin.$error.pattern">Tarkista puhelinnumero.</span>
    <span ng-show="lisaaForm.puhelin.$touched && lisaaForm.puhelin.$invalid">Puhelinnumero on pakollinen.</span> 
    <input type="text" name="puhelin" class="form-control" aria-describedby="basic-addon1" ng-model="ad.phone" placeholder="Puhelinnumero" 
    required ng-pattern="finnishPhoneRegex">
  </div>

  <br/>

  <br/>

  <div class="input-group">
    <div class="input-group" >
      <span class="input-group-btn">
        <button type="reset" class="btn btn-default" onclick="reset()">Tyhjennä</button>
      </span>
       <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="submit()" ng-disabled="
        lisaaForm.otsikko.$invalid || !lisaaForm.otsikko.$dirty || 
        lisaaForm.kuvaus.$invalid || !lisaaForm.kuvaus.$dirty|| 
        lisaaForm.hinta.$invalid || !lisaaForm.hinta.$dirty|| 
        lisaaForm.email.$invalid || !lisaaForm.email.$dirty|| 
        lisaaForm.puhelin.$invalid || !lisaaForm.puhelin.$dirty">Tallenna</button> 
      </span>
    </div><!-- /input-group -->
  </div>
  
</form>
</div>

